.faction-container{
    width: 100%;

    .choose-header {
        padding: 10px 0 10px 0 ;
    }

    h4 {
        font-weight: 700;
    }

    .factions{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 5px;

        .alliance-row {
            background-image: url("../../../assets/faction_icons/Pane-leather-blue.jpg");
            margin-right: 50px;
            width: 100px;
            box-sizing: border-box;
            border-radius: 50%;
        }

        .horde-row {
            width: 100px;
            border-radius: 50%;
            box-sizing: border-box;
            background-image: url("../../../assets/faction_icons/Pane-leather-red.jpg");
        }

        .faction-image{
            padding: 10px 0;
            height: 100px;
            margin-left: 20px;
            margin-right: 20px;
            cursor: pointer;
            opacity: 0.6;
        }

        .faction-image:hover{
            opacity: 1;
        }

        .selected{

            .faction-image {
                opacity: 1;
            }

            opacity: 1;
            box-shadow: 0 0 5px #f8b700 inset;

            transition: box-shadow 0.5s;
        }
    }
}

@media screen and (max-width: 600px) {
    h4 {
        font-size: 16px;
    }
    .faction-image {
        height: 50px !important;
    }
}
