.main-menu {

  .main-menu-bar {
    background-color: #1e1e1e;

    .wow-rng-logo {
      height: 65px;
      margin-right: 20px;
    }


  }

  .disabled-navlink {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
    text-transform: uppercase;
  }
}

.bg-dark {
  background-color: #211510 !important;
  background-size: auto 100%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .6);
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
  border-bottom: 1px solid rgba(68, 47, 38, .5);
  padding-top: 10px;
  padding-bottom: 10px;
}

.active-page {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top, #ea3012 0, #ea3012 38%, #ea3012 60%, #ea3012 86%, #ea3012 100%) !important;
  background-size: 1em 1em;
  color: white !important;
}

.show > .btn-primary.dropdown-toggle {
  background-color: #211510;
  border: none;
}

.dropdown-menu {
  border-radius: 0;
  background-color: #211510;
  color: white;
}

.dropdown-item {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
  background-size: 1em 1em;
}

.dropdown-item:hover {
  background-color: #c77e19;
}

.btn-primary:hover {
  background-color: #211510;
  border: none;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  border: none;
  background-color: #211510;
}

.btn-primary {
  box-shadow: none;
  border-radius: 0;
  background-color: #211510;
  outline: none;
  border: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
  background-size: 1em 1em;
}

.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.dropdown-toggle::after {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
  background-size: 1em 1em;
}


.navbar-brand {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
  background-size: 1em 1em;
  color: #f8b700;
  display: inline-block;
  position: relative;
  z-index: auto;
  padding-left: 10px;
}

@media screen and (max-width: 600px) {
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav-link {
  font-size: 14px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top, #F5F5F5 0, #cbcbcb 38%, #F5F5F5 60%, #9c9c9c 86%, #F5F5F5 100%);
  background-size: 1em 1em;
  color: #e5f3ff;
  display: inline-block;
  position: relative;
  text-transform: uppercase;

  z-index: auto;
  //border-left: 1px solid rgba(68, 47, 38, .5);
  //border-right: 1px solid rgba(68, 47, 38, .5);
}

.nav-link:focus {
  outline: none;
}

.activated-nav {
  -webkit-box-shadow: inset 0px -2px 0px 0px rgba(196,42,15,0.57);
  -moz-box-shadow: inset 0px -2px 0px 0px rgba(196,42,15,0.57);
  box-shadow: inset 0px -2px 0px 0px rgba(196,42,15,0.57);

  transition: box-shadow 0.3s;
}

.nav-link-disabled {
  font-size: 14px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top, #848484 0, #848484 38%, #848484 60%, #848484 86%, #848484 100%);
  background-size: 1em 1em;
  color: #e5f3ff;
  display: inline-block;
  position: relative;
  text-transform: uppercase;

  z-index: auto;
  //border-left: 1px solid rgba(68, 47, 38, .5);
  //border-right: 1px solid rgba(68, 47, 38, .5);
}

a:hover {
  text-decoration: none;
}