.privacy-policy{
  color: white !important;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  width: 60%;
  height: 100%!important;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;

  .text-policy{
    text-align: justify;
  }

  .center-headings{
    text-align: center!important;
  }
}