.text-roller {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(top, #F5F5F5 0, #cbcbcb 38%, #F5F5F5 60%, #9c9c9c 86%, #F5F5F5 100%);
  background-size: 1em 1em;
  color: #f8b700;
  display: inline-block;
  position: relative;
  z-index: auto;
}