.info-footer {

  #current-version {
    position: fixed;
    bottom: 0;
    right: 5px;
    font-size: 12px;
  }

  #privcy-policy {
    position: fixed;
    bottom: 0px;
    left: 0;
    font-size: 12px;
  }
}