.info-footer {

  #current-version {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 12px;
  }

  #privcy-policy {
    position: absolute;
    bottom: 5px;
    left: 0;
    font-size: 12px;
  }
}