.info-footer {

  #current-version {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 12px;
  }

  #privcy-policy {
    position: absolute;
    bottom: 5px;
    left: 0;
    font-size: 12px;
  }

  .text-roller {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
    background-size: 1em 1em;
    color: #f8b700;
    display: inline-block;
    position: relative;
    z-index: auto;
  }
}