.button-mode-wow {
  //background: rgba(159, 22, 0, .8);
  border-color: #ea3012;
  background: #590300;
  border: 1px solid rgba(43, 43, 43, 0.93);
  position: relative;
  z-index: 1;
  width: 25%;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  display: block;
  margin: 15px auto;
  cursor: pointer;
  text-align: center;
}

.button-mode-wow:active {
  background: #A50600;
  cursor: pointer;
  color: #ffd36b;
}

.text-roller {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .button-mode-wow {
    border-color: #ea3012;
    background: #590300;
    border: 1px solid rgba(43, 43, 43, 0.93);
    position: relative;
    z-index: 1;
    width: 70% !important;
    border-radius: 10px;
    padding: 6px;
    font-size: 4vw;
    display: block;
    /* margin: 15px auto; */
    margin: 20px auto;
    cursor: pointer;
    text-align: center;
  }

  .roll-but {
    width: 100%;
    text-align: center;
  }
}
