.button-mode-wow {
    //background: rgba(159, 22, 0, .8);
    border-color: #ea3012;
    background: #6C0300;
    border: 1px solid #c77e19;
    position: relative;
    z-index: 1;
    width: 25%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
}

.button-mode-wow:active {
    background: #A50600;
    cursor: pointer;
    color: #ffd36b;
}

.text-roller {
    margin-bottom: 0;
}