.basic-mode {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    overflow: auto;
    position: relative;
    margin: 90px auto 10px auto;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 50px;

    .text-roller {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
        background-size: 1em 1em;
        color: #f8b700;
        display: inline-block;
        position: relative;
        z-index: auto;
    }

    .faction-role-container{
        display: flex;
    }

    .race-icon{
        width: 75px;
        height: 75px;
        margin-left: 20px;
        margin-right: 20px;
        opacity: 0.6;
        margin-top: 80px;
    }

    .class-text{
        font-size: 36px!important;
        margin-bottom: 20px;
    }


    h1{
        font-size: 42px;
    }

    h2{
        font-size: 20px;
    }

    .races-classes {
        width: 100%;
        padding: 5px;
        display: flex;
        position: absolute;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #211510;

        h2 {
            margin: 0;

            &:first-child {
                margin-right: 10px;
            }
        }
    }
}

.text-roller {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
    background-size: 1em 1em;
    color: #f8b700;
    display: inline-block;
    position: relative;
    z-index: auto;
}

@media screen and (max-width: 600px) {
    .basic-mode {
        width: 90%;
        margin: 100px auto;
        height: 60% !important;
        padding: 50px 0;
    }
}
