.advanced-mode {
  color: white !important;
  z-index: 1000;
  width: 80%;
  height: 90%;
  margin: 50px auto 10px auto;
  text-align: center;
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 30px;

  .images-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .images-container-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .faction-role-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 10px;
    margin: 10px auto;
    background-color: #000000;
  }

  .race-icon {
    //min-width: 350px;
    width: 300px;
    max-width: 350px;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.6;
    border-radius: 50% !important;
  }

  .hide-items {
    display: none;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .races-classes {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #000000;

    h1 {
      margin: 0;

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .advanced-mode {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    //height: calc(100vh - 100px);
  }

  .faction-role-container {
    width: 90% !important;
    display: flex;
    height: 35vh;
    flex-direction: column !important;
  }

  .images-container {
    width: 100% !important;
    height: 35vh !important;
    position: relative;
  }

  .images-container-main {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .race-icon {
      max-width: 50% !important;
      min-width: 50%!important;
      width: unset !important;
      margin: 0 !important;
    }
  }

  .races-classes {
    position: absolute;
    bottom: 0;
  }

  h1 {
    font-size: 16px;
  }

  .race-icon {
    max-height: 150px !important;
    max-width: 150px;
    height: unset !important;
  }
}
