.advanced-mode {
  color: white !important;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  width: 60%;
  height: 90%;
  margin: 70px auto 10px auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 30px;

  .text-roller {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
    background-size: 1em 1em;
    color: #f8b700;
    display: inline-block;
    position: relative;
    z-index: auto;
  }

  .images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .faction-role-container {
    display: flex;
    flex-direction: row;
  }

  .race-icon {
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.6;
    margin-top: 10px;
    //margin-top: 80px;
    border-radius: 50% !important;
  }

  .hide-items {
    display: none;
  }

  h2{
    font-size: 20px;
    margin-bottom: 50px;
  }

  .races-classes {

    h1 {
      margin: 0;
    }

    h3 {
      margin: 5px;
    }
  }
}

@media screen and (max-width: 600px) {
  .advanced-mode {
    width: 90%;
    overflow: auto;
    height: calc(100vh - 100px);
  }
}
