.about-me{
  color: white !important;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  width: 60%;
  height: 100%!important;
  margin: 80px auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  //padding-top: 50px;
  padding-bottom: 50px;

  .text-roller {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
    background-size: 1em 1em;
    color: #f8b700;
    display: inline-block;
    position: relative;
    z-index: auto;
  }

  .text-about{
    color: #f8b700;
  }
  hr{
    background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
    background-size: 1em 1em;
    color: #f8b700;
    width: 25%;
  }
}